body{
  background-image: url("./loading-screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #eaeaea;
  font-family: 'Cinzel', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial;
}

.loading-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.character img {
  width: 240px;
  height: 400px;
  object-fit: cover;
  border: 4px solid rgb(189, 132, 0);
  border-radius:200px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
  animation: float 3s ease-in-out infinite;
}

h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: rgb(186, 118, 24);
}

p {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(186, 118, 24);
  margin-top: 5px;
}

.spinner {
  margin: auto;
  margin-top: 40px;
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.1);
  border-top-color: #5c8cfc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
